@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;
	}
body {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	line-height: 1.4cm;
	background-color: white;
	font-size: 25px;
}

.mainportada {
	text-align: center;
}
.menubar {
	overflow: hidden;
	position:inherit;
}

.encabezado{
	overflow: hidden;
	position: inherit;
}
.encabezado nav{
	float: center;
}
.encabezado nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.encabezado nav ul li{
	display:inline;
	margin-right: -4px;
}
.encabezado nav ul li a{
	
	color: black;
	padding: 60px;
	border-left: 0px solid #696969;
}

.encabezado nav ul li a:hover{
	background:white;
	}
.logo{
	float: left;
	width: 90px;
	}
.texto1{
	color: white;
	background: url("../imagenes/costos_reserva.png") fixed;
	line-height: 90px;
	padding-left: 30px;
}
.costos{
	color:beige;
	padding-left: 200px;
	font-size: 100px;
	line-height: 2.1
}
.footer{
	color: black;
	align-content: center
}
.footerfinal{
	color: black
		
}